{{#operations}}{{toLowerCase classname}}: {{#operation}}{{#contents}}
    {{operationId}}: >-
        const asana = require('asana');


        const client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');


        client.{{toLowerCase baseName}}.{{operationId}}({{#pathParams}}{{paramName}}{{#neq "DELETE" httpMethod}}, {{/neq}}{{/pathParams}}{{#eq "GET" httpMethod}}{param: "value", param: "value", opt_pretty: true}{{/eq}}{{#neq "GET" httpMethod}}{{#neq "DELETE" httpMethod}}{field: "value", field: "value", pretty: true}{{/neq}}{{/neq}})
            .then((result) => {
                console.log(result);
            });{{/contents}}{{/operation}}
{{/operations}}
